.*
!.editorconfig
!.eslintrc.js
!.gitattributes
!.gitignore
!.nvmrc
!.prettierrc
!.env.template
build
coverage
dist
logs
newrelic_agent.log*
node_modules
npm-debug.log*
tsconfig.tsbuildinfo
yarn-debug.log*
yarn-error.log*
